@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.body-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}

.nobullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.navigation-user {
  justify-content: flex-end;
  max-width: 320px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  box-sizing: border-box;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-user-link {
  position: relative;
  display: block;
  min-width: 44px;
  min-height: 64px;
}

.logo-image {
  position: relative;
  margin-bottom: -12px;
  z-index: 1;
}

.navigation-link-search {
  background-image: url(../images/header/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.navigation-link-heart {
  background-image: url(../images/header/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.likes-count {
  position: absolute;
  left: 20px;
  top: 11px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  padding: 5px;
}

.hero {
  position: relative;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  min-height: 485px;
  box-sizing: border-box;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/index/divider.svg");
  background-repeat: no-repeat;
  height: 57px;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
}

.advantages-container {
  margin: 69px 0;
}

.lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.advantages-lead {
  margin-bottom: 25px;
}

.description {
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 0;
  cursor: pointer;
}

.button-header {
  margin-top: 14px;
  margin-left: 20px;
  padding: 8px 34px;
}

.button-page {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.button-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.button-transparent {
  color: #ffffff;
  background-color: transparent;
}

.button-checked {
  color: #ffffff;
  background-color: #7db54f;
}

.advantages-title {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title-underlined {
  max-width: 180px;
  margin: auto;
  margin-bottom: 62px;
}

.advantages-title-underlined::after {
  content: "";
  position: absolute;
  top: 86px;
  left: 60px;
  width: 60px;
  border-bottom: 2px solid currentColor;
  opacity: 0.3;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  width: 400px;
  height: 385px;
}

.advantages-item-wide {
  color: #ffffff;
  background-color: #82b3d3;
  width: 1200px;
}

.advantages-item-container {
  padding: 0 85px;
  align-self: center;
}

.advantages-item-medium {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-light {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-container {
  margin: 64px 0;
}

.advantages-title-service {
  margin-top: 102px;
  margin-bottom: 30px;
}

.advantages-item-house {
  background-image: url(../images/index/advantage-icon-house.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 77px 72px;
}

.advantages-item-food {
  background-image: url(../images/index/advantage-icon-food.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 76px 72px;
}

.advantages-item-gift {
  background-image: url(../images/index/advantage-icon-gift.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 76px 76px;
}

.subscribe-form {
  display: flex;
  width: 684px;
  height: 52px;
  margin: 0 auto;
}

.subscribe-field {
  width: 452px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  padding-left: 20px;
}

.button-submit {
  border-radius: 0 4px 4px 0;
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-main {
  position: relative;
  width: 13px;
  height: 15px;
  padding: 8px;
  margin: -5px 20px -5px -8px;
  background-image: url(../images/catalog/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 15px;
}

.breadcrumbs-link-main::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 5px;
  bottom: 5px;
  width: 8px;
  background-image: url("../images/catalog/arrow-right.svg");
  background-repeat: no-repeat;
}

.catalog-container {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.catalog-filter-group {
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-price {
  margin-left: auto;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 56px;
}

.button-filter {
  padding: 8px 50px;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-view {
  display: flex;
  margin-bottom: 40px;
}

.lead-catalog {
  text-align: left;
  margin: auto 0;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  margin: 0 70px 0 auto;
  padding-left: 20px;
  width: 292px;
}
.select-container {
  display: flex;
  gap: 8px;
}

.select-view {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  color: inherit;
  text-decoration: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.select-view-checked {
  border-color: #000000;
}

.select-view-1 {
  background-image: url(../images/catalog/view-icon-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.select-view-2 {
  background-image: url(../images/catalog/view-icon-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.select-view-3 {
  background-image: url(../images/catalog/view-icon-3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}
.hotel-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-list::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  height: 0;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 16px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-image {
  grid-column: 1 / -1;
  object-fit: contain;
}

.lead-hotel {
  grid-column: 1 / -1;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

.hotel-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.hotel-price {
  text-align: end;
}

.rating {
  width: 140px;
  height: 37px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  background-color: #e5e5e5;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 9px;
  margin: 0;
}

.hotel-stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.star {
  background-image: url("../images/catalog/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.pagination-list {
  display: flex;
  gap: 8px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  font-family: inherit;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  border: none;
  text-decoration: none;
}

.pagination-empty {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.search {
  margin: 96px 0;
  text-align: center;
}

.subscribe {
  padding: 96px 0 104px;
  text-align: center;
}

.subscribe-index {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-link {
  position: relative;
  display: block;
  height: 50px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.footer-social-link {
  width: 48px;
}

.footer-logo-link {
  width: 115px;
  padding: 10px;
  margin: -10px;
}

.footer-phone-link {
  box-sizing: border-box;
  width: 350px;
  padding: 5px 0;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 145px;
}
