@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

.body-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.nobullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-list {
  width: 440px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.hero {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.divider {
  background-image: url("../images/index/divider.svg");
  background-repeat: no-repeat;
  height: 57px;
  margin-top: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.lead-hotel {
  text-transform: none;
}

.lead-catalog {
  text-align: left;
}

.description {
  text-align: center;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}

.button-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.button-transparent {
  color: #ffffff;
  background-color: transparent;
}

.button-checked {
  color: #ffffff;
  background-color: #7db54f;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description,
.hotel-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 230px;
  height: 385px;
  padding: 0 85px;
}

.advantages-item-image {
  width: 800px;
  padding: 0;
}

.advantages-item-wide {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-dark {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-light {
  color: #000000;
  background-color: #ffffff;
}

.catalog-container {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.catalog-filter-group {
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-price {
  margin-left: auto;
}

.select-view,
.hotel-card-link {
  color: inherit;
  text-decoration: none;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  border: none;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.search {
  padding: 96px 304px;
}

.subscribe {
  padding: 96px 258px 104px;
}

.subscribe-index {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}
